.buttonStyleOne {
  background-color: pink;
  color: red;
  border: 3px solid black;
  border-radius: 15px;
}

.buttonStyleTwo {
  background-color: yellow;
  color: black;
  border: 3px solid green;
  border-radius: 15px;
}

.container {
  background-color: grey;
}

.btn_btc {
  height: 50px;
  width: 250px;
  color: orange;
}

.btc_icon {
  background-color: blue;
  width: 100%;
}
